//.container {
//  background-image: url('/assets/images/reunion3.jpg');
//  background-size: cover;
//  background-position: center; /* Centers the image */
//  background-repeat: no-repeat;
//  height: 600px;
//  width: 100%;
//}
:host {
  display: block;
  height: 100vh;
  width: auto;
  background-image: url("/assets/images/bg_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bienvenu{
  font-size: 90px;
  font-weight: 700;
}
.container {
  text-align: left;
  padding: 20px;
  //border: 1px solid black;
  width: 40%;
  height: 100%;
  margin-left: 5%;
  margin-top: 2%;
  color: #000066;
}
.layout {
  display: flex;
  min-height: 100vh;
}
.message-bienvenue{
  color: darkblue;

}




//.bienvenu{
//  text-align: center;
//  color: darkblue;
//  font-weight: bold;
//  padding-top: 10%;
//}
