<div class="container-fluid card login-container">
  <h3 class="text-center">Register</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{msg}}</p>
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Email address</label>
    <input [(ngModel)]="regRequest.email"  type="email" class="form-control" id="login" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Username</label>
    <input [(ngModel)]="regRequest.username"  type="email" class="form-control" id="username" placeholder="username">
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Name</label>
    <input [(ngModel)]="regRequest.name"  type="email" class="form-control" id="name" placeholder="name">
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Phone</label>
    <input [(ngModel)]="regRequest.phone"  type="email" class="form-control" id="phone" placeholder="0666666666">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="regRequest.password" type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="register()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Create an account</em>
    </button>
    <div>
      Already have an account ?&nbsp;
      <button (click)="login()" type="button" class="btn btn-link">
        Login
      </button>
    </div>
  </div>
</div>
