.login-container {
  width: 100% ;
  padding: 5% 20% 5% 20%;
  background-image: url("/assets/images/bg_imgg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.cursor-pointer {
  cursor: pointer;
}
