<div class="p-2">
  <h2>Enregistrer une présence</h2>
  <hr>
  <div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{msg}}</p>
    </div>

    <!-- Form Start -->
    <form class="row g-3">
      <!-- Left Side (4 Labels) -->
      <div class="col-md-6">
        <div>
          <label for="dateEntre" class="form-label">Date d'entrée</label>
          <input [(ngModel)]="poiResponse.dateEntre" name="dateEntre" type="datetime-local" class="form-control" id="dateEntre" required>
        </div>
        <div>
          <label for="dateSortie" class="form-label">Date de sortie</label>
          <input [(ngModel)]="poiResponse.dateSortie" name="dateSortie" type="datetime-local" class="form-control" id="dateSortie" required>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <label for="idEmp" class="form-label">Employé</label>
          <select [(ngModel)]="poiResponse.idEmp" name="idEmp" type="text" class="form-select" id="idEmp" aria-label="Default select example">
            <option *ngFor="let emp of empList" [value]="emp.idEmp">{{emp.idEmp}} {{emp.nom}}</option>
          </select>
        </div>
      </div>

      <!-- Buttons (Full Width) -->
      <div class="col-12">
        <button (click)="savePoi()" type="submit" class="btn btn-outline-primary">
          <i class="fas fa-save"></i>&nbsp; Enregistrer
        </button>
        <a routerLink="/employe/pointage" class="btn btn-link text-danger">
          <i class="fas fa-times"></i>&nbsp; Annuler
        </a>
      </div>
    </form>
    <!-- Form End -->

  </div>
</div>
