<div class="p-2">
  <h2>Modifier Compte</h2>
  <hr>
  <div class="container">
    <!-- Use (ngSubmit) for form submission -->
    <form class="row g-3" (ngSubmit)="changePassword()">
      <div>
        <label for="currentPassword" class="form-label">Mot de pass Actuel</label>
        <!-- Ensure that the name is unique and corresponds to the model field -->
        <input [(ngModel)]="request.currentPassword" name="currentPassword" type="text" class="form-control" id="currentPassword">
      </div>
      <div>
        <label for="newPassword" class="form-label">Nouveau mot de pass</label>
        <!-- Correct the name attribute to match the model field -->
        <input [(ngModel)]="request.newPassword" name="newPassword" type="text" class="form-control" id="newPassword">
      </div>
      <div>
        <label for="confirmationPassword" class="form-label">Confimation mot de pass</label>
        <!-- Make sure name attribute is unique and matches 'email' in model -->
        <input [(ngModel)]="request.confirmationPassword" name="confirmationPassword" type="password" class="form-control" id="confirmationPassword">
      </div>
      <div class="mt-3">
        <!-- Use type="submit" to trigger ngSubmit -->
        <button type="submit" class="btn btn-outline-primary">
          <i class="fas fa-save"></i>&nbsp; Enregistrer
        </button>
        <a routerLink="/user" class="btn btn-link text-danger">
          <i class="fas fa-times"></i>&nbsp; Annuler
        </a>
      </div>
    </form>
  </div>
</div>
