.form-group{
  position: relative;
  width: 250px;
}
.form-group input{
  border: 1px solid #cccccc;
}
.eyeicon {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}
.container{
  padding-left: 35%;
}
.form-group-buttons{
  margin-top: 5%;
}
