<div class="p-2">
  <h2>Modifier Compte</h2>
  <hr>

  <div class="container">
    <!-- Display validation errors, if any -->
    <div *ngIf="errorMsg.length > 0" class="alert alert-danger mt-2" role="alert">
      <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>

    <form class="row g-3" (ngSubmit)="changePassword()">
      <!-- Current Password -->
      <div class="col-md-12">
        <label for="currentPassword" class="form-label">Mot de passe Actuel</label>
        <input [(ngModel)]="request.currentPassword" name="currentPassword" type="password" class="form-control" id="currentPassword" required>
      </div>

      <!-- New Password -->
      <div class="col-md-12">
        <label for="newPassword" class="form-label">Nouveau mot de passe</label>
        <input [(ngModel)]="request.newPassword" name="newPassword" type="password" class="form-control" id="newPassword" required>
      </div>

      <!-- Confirmation Password -->
      <div class="col-md-12">
        <label for="confirmationPassword" class="form-label">Confirmation du mot de passe</label>
        <input [(ngModel)]="request.confirmationPassword" name="confirmationPassword" type="password" class="form-control" id="confirmationPassword" required>
      </div>

      <!-- Submit Button -->
      <div class="col-md-12 mt-3">
        <button type="submit" class="btn btn-outline-primary">
          <i class="fas fa-save"></i>&nbsp; Enregistrer
        </button>
        <a routerLink="/user" class="btn btn-link text-danger">
          <i class="fas fa-times"></i>&nbsp; Annuler
        </a>
      </div>
    </form>
  </div>
</div>
