<div class="p-2">
  <h2>Modifier Compte</h2>
  <hr>

  <div class="container">
    <div *ngIf="errorMsg.length > 0" class="alert alert-danger mt-2" role="alert">
      <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>

    <form class="col-3 " (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="currentPassword" class="form-label">Mot de passe Actuel</label>
        <input [(ngModel)]="request.currentPassword" name="currentPassword" [type]="changeType?'password':'text'" class="form-control" id="currentPassword" required>
        <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa-solid fa-eye-slash':'fa-solid fa-eye'"></i></span>
      </div>

      <!-- New Password -->
      <div class="form-group">
        <label for="newPassword" class="form-label">Nouveau mot de passe</label>
        <input [(ngModel)]="request.newPassword" name="newPassword" [type]="changeType?'password':'text'" class="form-control" id="newPassword" required>
        <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa-solid fa-eye-slash':'fa-solid fa-eye'"></i></span>
      </div>

      <!-- Confirmation Password -->
      <div class="form-group">
        <label for="confirmationPassword" class="form-label">Confirmation du mot de passe</label>
        <input [(ngModel)]="request.confirmationPassword" name="confirmationPassword" [type]="changeType?'password':'text'" class="form-control" id="confirmationPassword" required>
        <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa-solid fa-eye-slash':'fa-solid fa-eye'"></i></span>
      </div>
      <div class="form-group-buttons">
        <button type="submit" class="btn btn-outline-primary">
          <i class="fas fa-save"></i>&nbsp; Enregistrer
        </button>
        <a routerLink="/user" class="btn btn-link text-danger">
          <i class="fas fa-times"></i>&nbsp; Annuler
        </a>
      </div>
    </form>
  </div>
</div>
