.chat-container {
  width: 1200px;

  //padding-left: 100px;
  text-align: center;
  margin-top: 5%;
  //border: 1px solid black;
}

.chat-messages {
  max-height: 300px; /* Set the desired height for the scrollable area */
  overflow-y: auto; /* Enables a vertical scroll bar */
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type='text'] {
  flex: 1;
  padding: 8px;
  width: 100%;
  margin-top: 5%;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}

.response {
  margin-top: 20px;
}
